<%- include('./partials/header') %>

<div class="image-container">
    <img src="https://www.hussle.com/blog/wp-content/uploads/2020/12/Gym-structure-1080x675.png" alt="Empty gym">
    <div class="text-overlay">
        <h1 id="welcomeMessage">Welcome to Java-Ripped!</h1>
        <br>
        <br>
        <h2 id="progressQuote">"Progress is the sound of labored breathing"</h2>
    </div>
  
<%- include('./partials/footer') %>